

/* max-width: 1024px */
@media (max-width: 1024px) {

    .logo {
        width: 124px;
    }
    .nav_cont {
        display: flex;
        flex-direction: column;
        padding-left: 94px;
    }

        .nav-flex {
          
            width: 382px;
        }
    .cta-container {
       
        height: 26vh;
        
        
    }

    
}
/* max-width: 826px */
@media (max-width: 826px) {
    .cta-container {
       
        height: 27vh;
        
        
    }

    .cta-text h1 {
        font-size: 38px;
        
        
    }
    .cta-text p {
        width: 52%;
       
    }
   
    .gird-cta {
        display: grid;
    
        grid-template-columns: 1fr  ;
        order: -1;
    }
    .cta-L{
        order: -1;
    }

    .ftr-sec {
    
        flex-wrap: wrap;
        
    }

    .ftr-logo {
        width: 47%;
    }

    .Qlk-ftr {
        width: 27%;
    }

    .cont-ftr {
        
        width: 40%;
        
    }
    .loct-ftr {
     
        width: 24%;
        
    }
    .ftr-cpr p {
        font-size: 9px;
    }
}

/* max-width: 674px */
@media (max-width: 674px) {
    .cta-container {
       
        height: 26vh;
        
        
    }

    .cta-text h1 {
        font-size: 33px;
        
        
    }
    .cta-text p {
        width: 66%;
        font-size: 12px;
    }
   
    .gird-cta {
        display: grid;
    
        grid-template-columns: 1fr  ;
        order: -1;
    }
    .cta-L{
        order: -1;
    }

    .ftr-sec {
    
        flex-wrap: wrap;
        
    }

    .ftr-logo {
        width: 47%;
    }

    .Qlk-ftr {
        width: 27%;
    }

    .cont-ftr {
        
        width: 40%;
        
    }
    .loct-ftr {
     
        width: 24%;
        
    }
    .ftr-cpr p {
        font-size: 9px;
    }
}

/* max-width: 430px */
@media (max-width: 430px) {
    .cta-container {
       
        height: 20vh;
        
        
    }

    .cta-text h1 {
        font-size: 29px;
        margin-bottom: 8px;
        
        
    }
    .cta-text p {
        width: 78%;
       
    }
    
    .gird-cta {
        display: grid;
    
        grid-template-columns: 1fr  ;
        order: -1;
    }

    .cta-msg h1 {
         font-size: 25px; 
        width: 167%;
    }
    .input-block-cta button {
      
        width: 50%;
        font-size: 12px;
    }
    .cta-msg p {
      
        width: 144%;
       
    }
    .cta-L{
        order: -1;
    }

    .ftr-sec {
    
        flex-wrap: wrap;
        
    }

    .ftr-logo {
        width: 74%;
    }

    .Qlk-ftr {
        width:41%;
    }

    .cont-ftr {
        
        width: 46%;
        
    }
    .loct-ftr {
     
        width: 37%;
        
    }
    .ftr-cpr p {
        font-size: 9px;
    }
}